#main_heading{
    color:black;
    text-align:center;
    padding-top:  125px;
    /* height: 100px; */
}
#box1{
    
    color:black;
    border-style: solid;
    border-color: black;
    /* position: absolute; */
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
   
}
/* body{
    display: flex;
    justify-items: center;
    justify-content: center;

} */